@page "/"

<PageTitle>Home</PageTitle>

<h1>Blazor Experimental</h1>

<p>Welcome to this experimental website, where I implement features and functionality surrounding Blazor and Microsoft Azure using C#.</p>

<iframe width="750" height="500" src="https://www.youtube.com/embed/QXxNlpjnulI"></iframe>