@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4">
            <NavLink class="bi-arrow-return-left" href=""> Back</NavLink>
        </div>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
